body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.progressbar{
  height: 12px;
  background-color: #8ae68a;
  transition: all .9s;
}
.inputgroup{
  width: 550px;
  padding: 16px;
  border: 1px solid #8ae68a;
  border-radius: 8px;
}
.inputfield{
  display: block;
  border: 1px solid #dadada;
  margin-bottom: 18px;
}
.wrong{
  border-color: red;
}
.wrong:focus{
  border-color: #dadada;
}
